.BoardCell {
  width: auto;
  border-radius: 15px;
  position: relative;
}

.puyo {

}

.puyo .Sparkle {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(./eyes.svg);
  background-repeat: no-repeat;
  background-size: 63%;
  background-position: 5px;
  opacity: 0.4;
}

.puyo.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.puyo.ghost .Sparkle {
  opacity: 0;
}

.puyo__red {
  background-color: rgb(233, 44, 82);
}
.puyo__blue {
  background-color: rgba(36, 95, 223, 1);
}
.puyo__green {
  background-color: rgb(36, 223, 61);
}
.puyo__yellow {
  background-color: rgba(223, 217, 36, 1);
}
.puyo__s {
  background-color: rgba(48, 211, 56, 1);
}
.puyo__t {
  background-color: rgba(132, 61, 198, 1);
}
.puyo__z {
  background-color: rgba(240, 80, 195, 1);
}
