* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
  background-color: #3d2c59;
  height: 100vh;
  padding: 20px;
}

body, html, :root {
  overflow: hidden !important;
}